//
// Theme Sass variables
//
// @see http://getbootstrap.com/docs/4.1/getting-started/theming/ for more details.
//

// Example how update variables of Bootstrap.
$--color-body: #ffffff;

$--color-bg-textarea: #f2f3f7;
$--color-bg-code: rgba(40, 41, 54, 1);
$--color-bg-tag: #f4f4f4;
$--color-bg-featured-label: #161b3d;
$--color-bg-featured-label-mobile: #f4f4f4;
$--color-bg-elements: #f7f7f7;
$--color-bg-button-membership: #e2e5ed;
$--color-bg-notification-success: #23bd38;

$--color-elements-one: #f0f0f0;
$--color-elements-two: #e2e5ed;
$--color-elements-white: #fff;
